<%- include('layout/header') %>


<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h5 class="text-light">Agregar Usuarios</h5>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Inserta Nombre" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Inserta e-mail" required/>
                        </div>
                        <div class="mb-3">
                            <label for="phone">Telefóno</label>
                            <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Inserta Telefóno" required/>
                        </div>
                        <div class="mb-3">
                            <label for="image" class="form-label">Selecciona Imagen</label>
                            <input type="file" name="image" class="form-control form-control-lg" required/>
                        </div>
                        <div class="mb-3">
                            <input type="submit" name="submit" value="Nuevo Usuario" class="btn btn-primary btn-lg" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('layout/footer') %>